body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}
.Form {
  width: 75vh;
  margin: auto;
  background-color: #4620db;
  padding:10px;
  color: #fff
}
.list{
  width: 75%;
  margin: 30px auto;
  padding : 10px;
}
.listItems{
  border:2px solid black ;
}
.header{
 text-align: center
}
p{
  font-size: 12px;
}
.list-container{
  width:60%;
  margin :auto;
  background-color: #e2e2e2;
}
.buttons{

  text-align: center;

}
