body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}
.Form {
  width: 75vh;
  margin: auto;
  background-color: #4620db;
  padding:10px;
  color: #fff
}
.list{
  width: 50%;
  margin: 30px auto;
  padding : 10px;
}
.listItems{
  border:2px solid black ;
}
.header{
 text-align: center
}
p{
  font-size: 12px;
}
.list-container{
  width:60%;
  margin :auto;
  padding-top :10px;
  padding-bottom :10px;
}
.link{
  text-decoration: none;
  color: #2b2b2b;
  text-align: center;
}

.fa-thumbs-up{
  margin :10px;
}
.item-container{
  margin:30px auto;
  width:50%;
}
.item-buttons-container{
  display: flex;
  flex-direction: row;
justify-content: space-around;
border-bottom: 1px solid #777777;
}
.item-buttons {
  background-color: #dddddd;
  color :black;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 5px;
  margin-top: -10px;
}
.err{
  border: 2px solid red;
/* border-color: red; */
}
