body {
 margin: 0;
 padding: 0;
 font-family: 'Montserrat Alternates', sans-serif;
 background: rgb(238,238,238);
}

/*
  ADD CONTENTS PAGE
*/
.Form {
 width: 75vh;
 margin:67px auto;
 line-height: 35px;
 background-color: rgb(255, 255, 255);
 box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
 border-radius: 4px;
 box-shadow: rgba(0,0,0,0.3) 2px 1px 2px 0px;
 padding: 15px;
 min-width: 250px;

}
.formItem{
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.paginationComp{
display: flex;
}
.pagination{
  text-align: center;

}
/*
*
  ITEMS LIST PAGE
*
*/
.item-content{
min-width: 250px;
height: 100%;
border: 0px solid rgba(123, 123, 123, 0.498039);
border-radius: 4px;
color: rgb(153, 153, 153);
font-size: 24px;
font-weight: 400;
background-color: rgb(255, 255, 255);
box-shadow: rgba(0,0,0,0.3) 2px 1px 2px 0px;
padding: 10px;
width: 100%;
margin:0 0 20px;
}
p{
 font-size: 12px;
}
.list-container{
  width: 50%;
}
.link{
 text-decoration: none;
 color: #2b2b2b;
}
.rate-buttons{
 text-align: right;
}
.fas{
 margin:10px
}


/*
*
  ITEM PAGE
*
*/
.item-container{
 padding-bottom: 20px;
 width: 50%;
 margin:100px auto;
 border: 0px solid rgba(123, 123, 123, 0.498039);
 background-color: rgb(255, 255, 255);
 box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
 border-radius: 4px;
 font-weight: 400;
}
.item-buttons-container{
 margin-top: 50px;
 padding-top: 10px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 border-top: 1px solid #afaeae;
}
.item-buttons-container a:visited{color: white;}

.description{
 font-size: 17px;
}


/*
*
  CATEGORY PAGE
*
*/
.categoty-btn-container{
 margin: 100px 0 auto;
 width: 100%;
 height: 100%;
 background-color: rgb(255, 255, 255);
 box-shadow: rgba(0,0,0,0.4) 2px 2px 2px 0px;
 border-radius: 9px;
 font-weight: 400;
 border: 0px solid rgba(123, 123, 123, 0.498039);
 padding: 50px;
 min-width: 250px;
}
.category-btn{
 display: block;
 width:100%;
 min-width: 150px;
 height:100px;
 margin: 15px 0px;
 border:1px solid #000 ;
}
.category-btn-txt{
 font-size: 20px;
 margin: 10px;
}
.icon{
 font-size: 20px;
 margin :10px;
}
i {
 margin :10px;
}
.div-container{
 display: flex;
   flex-wrap: wrap;
}


/*
*
  NAVIGATION BAR
*
*/
.brand{
 overflow: hidden;
 position: fixed;
 top: 0;
 width: 100%;
 display: flex;
 flex-direction: row;
 background-color: #6b5775;
 height: 67px;
 color : white;
 z-index: 9999;
}
.nav-item{
 padding-bottom: 21px;
 margin:0 15px;
 display: inline;
 color: #c3b7c9;
 text-decoration: none;
}
.nav-list{
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 margin-bottom: auto;
 list-style-type: none;
}
.active{
 color: white;
 border-bottom:3px solid #3CDCB9;
 text-decoration: none;
}
.brand a:hover {
 color: white;
 border-bottom:3px solid #3CDCB9;
 text-decoration: none;
}
.link{text-decoration: none;}
.link:hover{text-decoration: none;}


/*
*
  HOME PAGE
*
*/
.image-container{
 margin-top: 67px;
 width: 100%;
 height: 75vh;
 float: left;
 background-image:
 linear-gradient(
   rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
 ),
 url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47d2b1f32cc05c976af4a39256e01cba&auto=format&fit=crop&w=1050&q=80);
 background-size: cover;
 background-repeat: no-repeat;
}
.img-text{
 color:white;
 font-weight: bold;
 font-size: 25px;
}
.img-content{
 position: absolute;
display: table;
top: 60%;
height: 200px;
transform: translateY(-50%);
left: 0;
width: 100%;
z-index: 2;
text-align: center;
}


/*
*
  FOOTER
*
*/
.footer{
 position: relative;
 display: flex;
 flex-direction: column;
 right: 0;
 bottom: 0px;
 left: 0;
 background-color: #1C1E23;
 color: white;
 float: none;
 width: 100%;
}
.footer-txt{
  text-align: center;
  margin-top: 10px;
}
.personal-img{
 width: 100%;
 justify-content: center;
 text-align: center;
 display: flex;
 font-size: 10px;
}
.rounded-circle{
 height: 50px;
 width: 50px;
}
.personal-details{
  display: flex;
  flex-direction: column;
}
.personal-name{
  margin:0 15px;
}

@media (min-width: 770px) {
 .filter-container{
   display: flex;
   flex-direction: column;
   margin-top: 10px;
   width:25%;
   margin-top: 100px;
   padding-left:10%;
 }
 .list-container{
   width:50%;
 }
 .content-container{
  margin-top: 100px;
 }
 .categoty-btn-container{
   width:60%;
  margin: 100px auto  0 auto;
 }
}

@media (max-width: 770px) {
 .filter-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 70px;
   width:100%;
   padding-left:1%;
   /* background-color: red; */
 }
 .list-container{
    width: 100%;
    margin:10px;
 }
 .Form {
  width: 50vh;
 }
}
